<%- include("header") %>
<div class="donate-hero pb-5 d-flex flex-column justify-content-end">
  <div class="donate-background"></div>
  <div class="overlay"></div>
  <div class="content container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-5 pb-5">
        <h1>Support Us</h1>
        <h3 class="lead mb-3 border-bottom pb-3"> Help us in assisting poor families in <strong>Bihar</strong> and <strong>Jharkhand</strong> affected by the COVID-19 Lockdown.</h3>
        <a href="https://www.instamojo.com/@rsplfoundation/" class="btn btn-lg btn-danger">Donate</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="donation-box container">
  <h3>Make a selection below: </h3>
  <div class="row">

    <div class="col-3">
      <div class="mt-2 p-4 donate-button">
        Support 1 Family <br><br>
        <button type="button" class="btn btn-outline-danger" style="width: 75%;"> &#8377 1000 </button>
      </div>
    </div>

    <div class="col-3">
      <div class="mt-2 p-4 donate-button">
        Support 2 Families <br><br>
        <button type="button" class="btn btn-outline-danger" style="width: 75%;"> &#8377 2000 </button>
      </div>
    </div>

    <div class="col-3">
      <div class="mt-2 p-4 donate-button">
        Support 3 Families <br><br>
        <button type="button" class="btn btn-outline-danger" style="width: 75%;"> &#8377 3000 </button>
      </div>
    </div>

    <div class="col-3">
      <div class="mt-2 p-4 donate-button">
        Enter an amount <br><br>
        <button type="button" class="btn btn-outline-danger" style="width: 75%;"> Other </button>
      </div>
    </div>

  </div>
</div> -->

<div id="pan" class="container justify-content-begin">
RSP Learning foundation is registered under section 8 of the Companies Act, 2013 vide registration number NO. 354709 and Corporate Identification Number (CIN) U85300DL2019NPL354709 bearing PAN AAJCR7938. Its registered address is A-83, 1st Floor Vivek Vihar, Phase - 2 Delhi East, Delhi, India. PIN 110095.
</div>

<%- include("footer") %>
