<%- include("header") %>

<div class="hero pb-5 d-flex flex-column justify-content-end">
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="content container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-5 pb-5">
        <h1>Feed the <strong>stranded</strong></h1>
        <h3 class="lead mb-3 border-bottom pb-3"> Help feed families in <strong>Bihar</strong> and <strong>Jharkhand</strong> stranded during COVID-19 Lockdown.</h3>
        <a href="#contact_no" class="btn btn-lg btn-danger">Read More</a>
      </div>
    </div>
  </div>
</div>
<div class="information container">
  <div class="row">
    <div class="col-12">
      <p>Fighting for food and scavenging for livelihood are their daily chores for some families. <strong>RSP Learning Foundation </strong>stands by its vision of bringing social parity in the country
        by uplifting marginalized people of the society. </p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">

        </div>
        <div class="col-sm-12 col-md-6 card">

        </div>
      </div>
    </div>
  </div>

  <div id="contact_no" class="contact container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            If you find any family stranded in Bihar and Jharkhand please contact:
          </div>
          <div class="card-body">
            <p class="card-text">
            <div class="row">
              <div class="col-3">
                <h3 id="phone" class="justify-content-between"> +91-7903456055</h3>
              </div>
              <div class="col-3">
                <h3 id="phone" class="justify-content-between"> +91-9472474059</h3>
              </div>
              <div class="col-3">
                <h3 id="phone" class="justify-content-between"> +91-8527183242</h3>
              </div>
              <div class="col-3">
                <h3 id="phone" class="justify-content-between"> +91-8269920249</h3>
              </div>
            </div>
            <strong>Surbhi Suman</strong>
           </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about-us" class="about container my-5 py-3">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <img src="https://i.imgur.com/WXfzH8ir.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        Founded in year 2019 by Ms. Surbhi Suman, an Alumni of IIT ISM Dhanbad, it
        started off with establishment of a Play School for children below 5 years of age,
        residing in slums across the city of Dhanbad.
      </div>
    </div>
  </div>

  <div class="volunteer container my-5 py-5">
    <div class="row">
      <div class="col-12 py-1">
        <h4>Volunteer with Us</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        A network of highly passionate citizens who care deeply about the potential the future generation holds. We help mobilize food from various sources to those in need through solutions that can ensure the lack of reliable meals is never an obstacle for a future with more education, better health and better economic status.
        <br>Interested in volunteering with us?
        <br> Please write to us <a href="#">here </a>.
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80" class="card-img-top">
        </div>
      </div>
    </div>
  </div>

  <%- include("footer") %>
